.header img {
    align-items: center;
    background-size: cover;
    height: 78vh;
    width: 78vw;
    background-position:top;
    border-radius: 20PX;
    border-left: 20px solid darkmagenta;
    border-right: 20px solid darkmagenta;
    border-top: 30px solid purple;
    border-bottom: 30px solid purple;
}

#Sprite1 {
    animation: Sprite 10s ;
}

@keyframes Sprite {
    from {
        transform:  rotate(-2deg);
        opacity: 0;
    }
    25% {
        opacity: 100%;
    }
    50% {
        transform:  rotate(100deg);
    }
    75% {
        transform:  rotate(-2deg);
        transform: translate(500px, 50%);
        rotate: (260turn);
    }
    to {
        transform:  rotate(0deg);
    }

}

#Sprite2 {
    animation: 10s;
}

@keyframes Annamae {
    from {
        transform:  translate(40px);
        opacity: 0;
    }
    25% {
        opacity: 100%;
    }
    50% {
        transform:  rotate(100deg);
    }
    75% {
        transform:  rotate(-2deg);
        transform: translate(500px, 50%);
        rotate: (260turn);
    }
    to {
        transform:  rotate(0deg);
    }

}






.disappear {
    display: none;
}

.header h1 {
    position: absolute;
    height: 78%;
    width: 78%;
    top: 0%;
    left: 0%;
    color: black;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    font-size: 75px;

}

.header button {
    position: absolute;
    top: 8px;
    right: 16px;
}





